@import "../variables";
@import "../mixins";

.menu {
  background-color: bisque;
  display: grid;
  grid-template-rows: 100px auto;
  grid-template-columns: 50% 50%;
  @include element("item") {
    color: white;

    @include element("image") {
      font-size: 20px;
    }
    @include element("companyname") {
      font-size: 30px;
    }
  }
}
