@import "../variables";
@import "../mixins";

.menu {
  background-color: bisque;
  display: grid;
  grid-template-rows: 60px auto;
  grid-template-columns: 50% 50%;
  @include element("item") {
    color: white;

    @include element("image") {
      font-size: 20px;
    }
    @include element("companyname") {
      font-size: 20px;
    }
  }
}

.accordion {
  justify-self: end;
  align-self: flex-end;
  /* @include modifier("visibility") {
    display: none;
  }
 */

  @include modifier("margin") {
    margin: 0 5% 5% 0;
  }
  @include element("menu") {
    grid-column: span 2;
    justify-self: center;
    @include element("item") {
    }
  }
}
