@import "../variables";
@import "../mixins";

.sticker {
  display: grid;
  width: 80%;
  margin: 10px auto;
  grid-gap: 20px;

  @include element("icon") {
    font-size: 120px;
    background-color: $primary-color;
    border-radius: 50%;
    padding: 50px;
    justify-self: center;
  }

  @include element("text") {
  }

  @include element("button") {
    justify-self: start;
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: transparent;
    border: 2px solid $primary-color;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}
