* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none; }

a {
  color: #ccd6e5;
  font-size: 16px; }

a:hover {
  color: white;
  transition: 0.35s all ease; }

.menu {
  background-color: bisque;
  display: grid;
  grid-template-rows: 60px auto;
  grid-template-columns: 50% 50%; }
  .menu__item {
    color: white; }
    .menu__item__image {
      font-size: 20px; }
    .menu__item__companyname {
      font-size: 20px; }

.accordion {
  justify-self: end;
  align-self: flex-end;
  /* @include modifier("visibility") {
    display: none;
  }
 */ }
  .accordion--margin {
    margin: 0 5% 5% 0; }
  .accordion__menu {
    grid-column: span 2;
    justify-self: center; }
